#shnake {
  /* background: #555; */
  font-family: 'Helvetica', sans-serif;
  width: 300px;
  margin: 0 auto 0;
  position: relative;
  visibility: hidden;
}

#shnake-wrapper {
    width: 300px;
    margin: auto;
}

#shnake-span {
    visibility: hidden;
}

#shnake a {
  color: red;
}

#shnake canvas {
  display: block;
  background-color: white;
  margin: auto;
}

#snakeLength, #highScore {
  color: red;
}

#snakeLength {
  position: absolute;
  left: 0;
}

#resetButton {
  /* color: white; */
  background-color: inherit;
  display: block;
  margin: auto;
}

#highScore, #gameOver {
  position: absolute;
  right: 0;
}

#gameOver {
  display: none;
  color: red;
}
