body {
  background: wheat;
  font-family: 'helvetica', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  width: 100%;
  margin: 0 auto;
  background-image: url('assets/sunburst.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid black;
  position: relative;
  font-family: 'Coiny', cursive;
  color: white;
}

header img {
  display: block;
  margin: 0 auto;
}

header h1 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: 0;
  font-size: 3.5em;
  text-shadow: 2px 2px 2px black;
}

header p {
  position: absolute;
  bottom: 0px;
  right: 32px;
  text-shadow: 2px 2px 2px black;
}

main {
  width: 100%;
}

aside {
  margin: 20px auto;
  width: 95%;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
}

section {
  width: 95%;
  margin: 20px auto;
}

section img {
  width: 15%;
  height: 15%;
  max-width: 100px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px;
}

main section h2 {
  background-color: rgb(200, 100, 0);
  margin: 0;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 1px black;
}

main section p {
  text-align: left;
}

form, form p {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(84, 33, 137);
}

a:hover {
  color: rgba(255, 255, 255, .8);
}

aside h2 {
  color: rgba(255, 255, 255, .8);
  text-decoration: underline;
}

footer {
  text-align: left;
}

section.recommendations {
  display: inline-block;
  text-align: left;
  width: 80%;
  margin: auto;
}

#registered-trademark {
  font-family: sans-serif;
  font-size: 12pt;
  vertical-align: super;
}

#gotcha img {
  max-height: 400px;
}

@media screen and (max-width: 500px) {
  
  header img {
    display: none;
  }

  header h1, header p {
    position: static;
    margin: 10px auto 0;
    text-align: center;
  }

  header h1 {
    line-height: .76em;
  }

  header p {
    line-height: .89em;
    margin-bottom: 5px;
  }

}

@media screen and (min-width: 960px) {

  body {
    width: 80%;
    margin: 0 auto;
    background-color: #555;
  }

  div {
    background-color: wheat;
  }

  main {
    display: inline-block;
    width: 72%;
  }

  aside {
    margin-left: 5px;
    width: 25%;
    float: left;
  }

}

@media screen and (min-width: 1400px) {

  body {
    width: 75%;
    margin: 0 auto;
  }

}

@media screen and (min-width: 2000px) {
  body {
    width: 50%;
    margin: 0 auto;
  }
}