body {
  font-family: 'helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #555;
}

header {
  width: 100%;
  margin: 0 auto;
  color: white;
  text-align: left;
}

div#container {
  margin: auto;
}

h1#header {
  color: green;
  font-weight: bold;
}

main {
  float: left;
  width: 65%;
  margin: 0 auto;
}

aside {
  float: left;
  text-align: left;
  width: 15%;
  vertical-align: top;
  background-color: #777;
  padding: 10px;
}

a {
  color: white;
}